body {
  background:#1e1e1e;
  color:white;
  font:helvetica;
}

.bassbar-logo {
  position: absolute;
  top:50%;
  left:50%;
  width:577px;
  height:132px;
  margin:-66px 0 0 -288px;
}

#graphic_display {
  width:89px;
  height:89px;
}


.sign-up {
  display: block;
  color:#f4fbfe;
  font-family: helvetica;
  position: absolute;
  top:50%;
  left:50%;
  width:577px;
  height:132px;
  margin:-66px 0 0 -288px;
  text-align: center;
  line-height: 245px;
}
